.hash-gen #tagline {
    color: #1DE9B6;
    font-weight: 900;
    font-size: 1.2rem;
    margin-left: 2%;
}

.hash-gen #input {
    width: 95%;
    height: 5vh;
    margin-left: 2%;
    margin-top: 1%;
    background-color: #3a3a3a;
    border-radius: 10px;
    border-color: transparent;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.hash-gen label{
    text-align: center;
    font-weight: 800;
    margin-left: 2%;
    color: rgb(157, 99, 214);
}

.hash-gen #result {
    width: 95%;
    margin-left: 2%;
}

.hash-gen #result p {
    text-align: center;
    overflow-wrap: break-word;
    color: chartreuse;
    background-color: #3a3a3a;
    border-radius: 10px;
}

.hash-gen #result p .desc {
    font-weight: bold;
    color: aqua;
}

